env
ellipse
Models
plots
stats
.venv
.DS_Store
runs/
.vscode
.pytest_cache
slurm_jobs/
__pycache__
good_runs/global_run_832/optuna_journal_storage/journal.log
good_runs/global_run_830/optuna_journal_storage/journal.log
__pycache__/ELM.cpython-312.pyc
